In [5]:
import seaborn as sns
import pandas as pd

iris = sns.load_dataset('iris')
result = iris.loc[:, ['sepal_length', 'species']]
result.head()

   sepal_length species
0           5.1  setosa
1           4.9  setosa
2           4.7  setosa
3           4.6  setosa
4           5.0  setosa

In [7]:
result.to_excel('dataset/iris_excel_file.xlsx', sheet_name='Sheet_name_1', index=False)

# Group By 연산
- 집계함수 같이 활용
- 분석의 목적 : 그룹별로 비교하고 싶을 때 사용

In [11]:
import seaborn as sns
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## 성별로 tip 평균 구하기

In [17]:
tips.groupby('sex', observed=True)['tip'].mean()

# 통계적으로 유의한가 : 기초 통계 영역으로 넘어감.

sex
Male      3.089618
Female    2.833448
Name: tip, dtype: float64

## 요일별 총 결제 금액 구하기

In [19]:
# 요일별 총 결제 금액 구하기
tips.groupby('day')['total_bill'].sum()

C:\Users\Admin\AppData\Local\Temp\ipykernel_2644\3974559298.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tips.groupby('day')['total_bill'].sum()

day
Thur    1096.33
Fri      325.88
Sat     1778.40
Sun     1627.16
Name: total_bill, dtype: float64

## 요일 & 성별로 팁 평균

In [20]:
tips.groupby(['day', 'sex'])['tip'].mean()

C:\Users\Admin\AppData\Local\Temp\ipykernel_2644\4172537417.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tips.groupby(['day', 'sex'])['tip'].mean()

day   sex
Thur  Male      2.980333
      Female    2.575625
Fri   Male      2.693000
      Female    2.781111
Sat   Male      3.083898
      Female    2.801786
Sun   Male      3.220345
      Female    3.367222
Name: tip, dtype: float64

## 식사 시간별 인원 수 평균
- time, size

In [23]:
tips.groupby('time')['size'].mean()

C:\Users\Admin\AppData\Local\Temp\ipykernel_2644\1675270889.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tips.groupby('time')['size'].mean()

time
Lunch     2.411765
Dinner    2.630682
Name: size, dtype: float64

## 2가지 범주 groupby 출력 변환

In [27]:
result = tips.groupby(['day', 'sex'])['tip'].mean()
result   # type(result) --> Series

C:\Users\Admin\AppData\Local\Temp\ipykernel_2644\4024481878.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  result = tips.groupby(['day', 'sex'])['tip'].mean()

day   sex
Thur  Male      2.980333
      Female    2.575625
Fri   Male      2.693000
      Female    2.781111
Sat   Male      3.083898
      Female    2.801786
Sun   Male      3.220345
      Female    3.367222
Name: tip, dtype: float64

In [33]:
# 데이터프레임 형식으로 변형
result.unstack()   # ----> 히트맵 시각화 바로 적용 가능
# type(result.unstack())  # DataFrame

sex       Male    Female
day
Thur  2.980333  2.575625
Fri   2.693000  2.781111
Sat   3.083898  2.801786
Sun   3.220345  3.367222

## 집계함수 2개 사용하기 - agg함수 사용

In [35]:
tips.groupby(['day', 'sex'])['tip'].agg(['sum','mean'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_2644\2779937793.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tips.groupby(['day', 'sex'])['tip'].agg(['sum','mean'])

                sum      mean
day  sex
Thur Male     89.41  2.980333
     Female   82.42  2.575625
Fri  Male     26.93  2.693000
     Female   25.03  2.781111
Sat  Male    181.95  3.083898
     Female   78.45  2.801786
Sun  Male    186.78  3.220345
     Female   60.61  3.367222

In [42]:
result = tips.groupby(['day', 'sex'])[['tip', 'total_bill']].agg(['sum','mean'])
print(result)
result.columns = [ '_'.join(col) for col in result.columns ]
result.reset_index()

                tip           total_bill
                sum      mean        sum       mean
day  sex
Thur Male     89.41  2.980333     561.44  18.714667
     Female   82.42  2.575625     534.89  16.715312
Fri  Male     26.93  2.693000     198.57  19.857000
     Female   25.03  2.781111     127.31  14.145556
Sat  Male    181.95  3.083898    1227.35  20.802542
     Female   78.45  2.801786     551.05  19.680357
Sun  Male    186.78  3.220345    1269.46  21.887241
     Female   60.61  3.367222     357.70  19.872222

C:\Users\Admin\AppData\Local\Temp\ipykernel_2644\1628516327.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  result = tips.groupby(['day', 'sex'])[['tip', 'total_bill']].agg(['sum','mean'])

    day     sex  tip_sum  tip_mean  total_bill_sum  total_bill_mean
0  Thur    Male    89.41  2.980333          561.44        18.714667
1  Thur  Female    82.42  2.575625          534.89        16.715312
2   Fri    Male    26.93  2.693000          198.57        19.857000
3   Fri  Female    25.03  2.781111          127.31        14.145556
4   Sat    Male   181.95  3.083898         1227.35        20.802542
5   Sat  Female    78.45  2.801786          551.05        19.680357
6   Sun    Male   186.78  3.220345         1269.46        21.887241
7   Sun  Female    60.61  3.367222          357.70        19.872222

In [43]:
result.reset_index().to_csv('dataset/iris_result2.csv', index=False)